@import url(header.css);
@import url(footer.css);
@import url(home.css);
@import url(show.css);
@import url(responsive.css);
:root {
  --darkBlue: #0b3146;
  --blue: #0a6f9a;
  --white: aliceblue;
  --lightBlue: #bde8fa;
  --hoverColor: #83d7f6;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


